[submodule "ext/imgui"]
	path = ext/imgui
	url = https://github.com/MetroidPrimeModding/imgui.git
[submodule "patcher/pyelftools"]
	path = patcher/pyelftools
	url = git@github.com:eliben/pyelftools.git
