[submodule "newlib"]
	path = newlib
	url = git@github.com:Pwootage/newlib.git
[submodule "libcxx"]
	path = libcxx
	url = git@github.com:llvm-mirror/libcxx.git
[submodule "gcc"]
	path = gcc
	url = git@github.com:devkitPro/gcc.git
